.mention {
  display: inline-flex;
  align-items: baseline;
  text-decoration: none;
  color:inherit;
}
.mention-avatar {
  border-radius: 50%;
  margin-right: 4px;
  align-self: flex-end;
}
.mention-avatar-ama {
  border-radius: 50%;
  margin-right: 8px;
  align-self: flex-end;
}
.post-text-mention{
  color:white;
}
.post-text-mentionama{
  color:white;
  text-align: center;
  font-size: 25px;
}

.post-text-mentionfancy{
  color:black;
  text-align: center;
  font-size: 25px;
}

a{
  text-decoration: none;
  
}

.map-center-text {
  font-size: 4em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.thank-you-text {
  font-size: 4em;
  text-align: center;
}

.topHeaderSubtitle {
  margin-block-end: 0.67em;
}

.ledHoverEffect:hover {
  color: #338eda;
  text-shadow: 0 0 15px #338eda;
}

.pictureFrame {
  position: relative;
  border: 40px solid rgb(255, 255, 255);
  border-bottom: 0px solid rgb(255, 255, 255);
  outline: 20px solid black;
}

.pictureFrame:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00;
}